*.pyc
*.qcow2
*.raw
*.initrd
*.vmlinuz
*.initramfs
*.kernel
*.sha256
*.md5
venv
/*-manifests
/*.d
*.bak
*.orig

# Packages
*.egg*
*.egg-info
dist
build
eggs

# Unit test / coverage reports
cover/
.coverage*
coverage.xml
!.coveragerc
.tox
.stestr/
.venv

# pbr generates these
AUTHORS
ChangeLog

# Editors
*~
*.sw?
